/* 鼠标悬停时显示隐藏的列 */
.table-fixed {
    table-layout: fixed;
    width: 100%;
}

.table-fixed .hidden {
    display: none;
}

.table-fixed:hover .hidden {
    display: table-cell;
}

.control {
    right: -64px;
    top: 0px;
    height: 100%;
}

.data-area-row {
    transition: all .05s;
}


.data-area-row:hover {
    transform: translateX(-64px);
}